  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center justify-content-center me-auto me-xl-0">
        <img src="assets/img/favicon.ico" alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html" class="active">Sobre</a></li>
          <li><a href="dbz-movies.html">Filmes</a></li>
          <li><a href="dbz-news.html">Notícias</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="ryanocbomfim@gmail.com" class="gmail"><i class="bi bi-google"></i></a>
        <a href="https://www.instagram.com/iam.ryan10" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      </div>

    </div>
  </header>